[2018-11-27 08:04] pgholsgrove opened #1 "Test"

[2018-11-27 10:53] pgholsgrove opened #2 "Create a tool for artists to upload artworks and research material to zien"
- Utilising Blankchain#2

Measurable impact assumption: Creation of a compelling UX for artists to catalogue artworks and research material within the zien app

[2018-11-27 11:06] pgholsgrove opened #3 "Validate the zien prototype"
Can it:

1.

[2018-11-27 12:06] pgholsgrove opened #4 "Specify the zien MVP release"
What is the minimum we can ship in the zien MVP?

[2019-02-17 16:00] pgholsgrove opened #5 "Update Zien prototype in preparation of end user testing"
Measurable impact assumption: online or in-person ready prototype that can be used to observe interaction with onboarding process and core feature(s)

[2019-02-20 23:24] zoenolan opened #6 "Add Code of Conduct"
As a developer, I would like to be treated in a respectful manner while adding my contributions to this project. [Contributor Covenant](https://www.contributor-covenant.org/) provides one possible set of shared value to help facilitate this.

**Acceptance Criteria**
* Code of Conduct added to the project

[2019-02-20 23:25] zoenolan opened #7 "Add contributing guide"
As a developer, I would like to understand how best to contribute to this project

**Acceptance Criteria**
* Pull request template added to the project
* Issue template added to the project
* Contributing guide added to the project

[2019-02-20 23:25] zoenolan opened #8 "Enable Continuous Integration"
As a developer, I would like the project to be connected to a Continuous Integration (CI) pipeline. So only builds that pass all the unittests are promoted as release candidates.

A couple of CI services:
* [Circle CI](https://circleci.com/)
* [Travis CI](https://travis-ci.org/)

**Acceptance Criteria**
* Commits and pull requests trigger unittest runs

[2019-02-20 23:26] zoenolan opened #9 "Readme"
As a developer, I would like a readme giving an overview of the project, how to go about contributing and where I can find more information

**Acceptance Criteria**
* Overview of the project
* Link to contribution guide

[2019-02-20 23:27] zoenolan opened #10 "Add License"
As a developer, I would like my code to be available under and open source license. So other can enhance and improvement my work.

**Acceptance Criteria**
* An open source license is selected for this project
* A copy of the license is added to the project
* The selected license is compatible with the Apple store
* The selected license is compatible with the Play store
* The selected license is co

[2019-02-22 00:07] #6 closed

[2019-02-22 00:07] #7 closed

[2019-02-22 00:07] #9 closed

[2019-02-25 15:42] pgholsgrove opened #11 "Should we use Framer X?"
Can the Framer X app help us ship?

[2019-02-25 21:37] zoenolan commented on #11
Framer X is currently MacOSX only.

To slightly hijack the issue. I do think using React to build the interface for zien makes sense. We have a route to using [React Native](https://facebook.github.io/react-native/) to build version for iOS, Android and Windows, alongside the web

[2019-02-25 21:45] zoenolan commented on #5
[Videogame's onboarding experiences are a lesson to design](https://www.imaginarycloud.com/blog/videogame-onboarding-design-lessons/)

[2019-02-25 22:25] zoenolan opened #12 "Threat Modelling"
As a user,  I would like to have a level of confidence that the system is secure and robust

**Acceptance Criteria**

- A [threat model](https://en.wikipedia.org/wiki/Threat_model) exists for the project

[2019-02-25 22:58] zoenolan opened #13 "Artists can create a decentralised autonomous trust (DAT)"

[2019-02-25 22:58] zoenolan opened #14 "People can follow artists and invest in their DAT"

[2019-02-25 22:59] zoenolan opened #15 "People can create a profile and display which artists they’re supporting"

[2019-02-25 22:59] zoenolan opened #16 "People can invite friends to Zien"

[2019-02-25 22:59] zoenolan opened #17 "People can follow friends on Zien"

[2019-02-25 23:00] zoenolan opened #18 "People can receive email updates about artists they follow on Zien"

[2019-03-04 22:50] zoenolan commented on #8
[Travis CI has been aquired by Idera](https://blog.travis-ci.com/2019-01-23-travis-ci-joins-idera-inc), so something to think about when selecting a CI provider

[2019-03-29 05:51] pgholsgrove opened #19 "Task flows"
Task flows breaking down the necessary steps for each feature shipping in the first version.
In progress: https://www.figma.com/file/TaSV8tiXjrculFhNrsZmOLs0/Task-Flows

[2019-03-29 05:53] pgholsgrove opened #20 "Create an account (artist)"
As an artist, I want to create an account and profile (that I can edit from time to time).

[2019-03-29 05:57] pgholsgrove commented on #20
As an artist, I want to create an account on Zien, so I can upload new editions, manage my account and subscribe to other artist's channels

[2019-03-29 06:00] pgholsgrove opened #21 "Create an account"
As an end user / artist, I want to create an account and profile (that I can edit from time to time).

[2019-03-29 06:09] pgholsgrove opened #22 "Create Scarce Editions"
As an artist, I would like to upload scarce editions that subscribers to my channel can collect.

We will operate this manually during v0.1.

Requirements:

- Choose existing NFT tool to generate tokens
- Implement a solution for storing data (IPFS?)

@zoenolan would you add anything here?

[2019-03-29 06:19] pgholsgrove opened #23 "Subscribe to an artist's channel"
As an end user or artist, I would like to subscribe to an artist's channel in order to collect Scarce Editions.

[2019-04-04 17:17] pgholsgrove opened #27 "Claim a Scarce Edition"
As an end user or artist, I need to be able to claim a Scarce Edition.

Requirement:

- Present a confirmation view on completion of payment process.
- Present success / failure screen.

[2019-04-04 17:21] pgholsgrove opened #28 "Share a Scarce Edition"
End users should be able to 'share' a Scarce Edition with others outside of Zien.

[2019-04-04 17:24] pgholsgrove opened #29 "Like a Scarce Edition"
End users should be able to 'like' a Scarce Edition.

[2019-04-04 17:51] pgholsgrove opened #30 "User flows"
Revised v0.1 user flow focusing on maximal learning from minimal product.

[2019-04-04 19:39] pgholsgrove opened #31 "High level technical design"
High level design of the Zien MVP architecture.

[2019-04-05 09:11] pgholsgrove opened #32 "Scarcity model design"
The design of a system to retain scarcity of editions released while rewarding subscribers to an artists channel.

[2019-04-22 21:20] rehat101 commented on #11
+1 for React or React Native to be specific

[2019-04-22 21:56] rehat101 commented on #31
I have some ideas around this. To keep things agile, I think we should utilize AWS.

**User management and Authentication**
AWS Cognito

**DB**
API Gateway -> AWS Dynamo DB

**FrontEnd**
React Native

[2019-04-22 22:17] rehat101 commented on #31
I believe we have a few options on the front-end being React PWA or React Native.

React PWA would be a website and has capabilities to being nativ-ish. Also, uses the same low level primitives of a web application. React Native is of course hybrid but it's primitives are different compared to Web.

[2019-04-23 09:47] MichaelHirn commented on #31
Agree, I'd also propose to leverage AWS. I don't have any personal experience with Cognito, Gateway, DynamoDB yet, but I am doing a lot of Terraform + AWS ECS, Lambda right now and it's really quick to set things up. Also, #8 would be easily possible with CodePipeline - has a great integration with the AWS stack.

And the infrastructure cost should be close to 0 if we are using these high-level se

[2019-04-23 19:58] zoenolan commented on #21
I wonder since they will be the same flow, do we need separate stories for end users and artist. At least for now?

[2019-04-23 20:23] zoenolan commented on #31
I slightly lean towards React PWA. just so we don't need to deal with packaging and app stores for the alpha. The whole idea of the approval process just makes me nervous with deadlines.

Agree around the points with AWS. Let that deal with most of the infrastructure. Allowing us to focus on the getting the Zien as polished as possible.

[2019-04-23 20:48] pgholsgrove commented on #21
No, agreed. We don't need separate user flows. Edited this issue to reflect constraint.

[2019-04-24 16:48] pgholsgrove opened #33 "Create AWS account"

[2019-04-24 16:48] #33 closed

[2019-04-24 16:49] pgholsgrove opened #34 "Create AWS account"

[2019-04-24 16:56] rehat101 opened #35 "Front-end setup"
Initialize our front-end setup as React PWA including instructions on how to run and build.

[2019-04-26 09:31] pgholsgrove commented on #34
Created root and admins @MichaelHirn

[2019-04-27 06:37] rehat101 opened #37 "Add route management system"
Add route management system on our PWA setup.

Proposed routes:

`/login`
`/signup`

`/app/feed`
`/app/artists/discover`
`/app/artists/subscribed`
`/app/collection`

Artist's profile:

`/app/profile/:id`
`/app/profile/:id/editions`
`/app/profile/:id/overview`
`/app/profile/:id/cv`
`/app/profile/:id/shows`

Anything after `/app` would be a protected route and will need access token from local stora

[2019-04-28 10:18] MichaelHirn opened #38 "Provision AWS resources"
Peter provided AWS access #34

Taher looked into DynamoDB and Cognito and requires those resources to be provisioned and configured directly.

This issue is to track any future AWS requirements. I will get started on providing the Terraform scripts to provision all required resources. @rehat101 feel free to comment if you need anything specific.

[2019-04-30 16:41] pgholsgrove opened #40 "Update Zien holding page"
Include strap line, sign-up and social

[2019-04-30 20:34] zoenolan commented on #37
Just thinking about the Artist profile. does making that we are talking about artists explict in the path make sense. Something like:

[code]

[2019-04-30 20:36] rehat101 commented on #37
Makes sense! Nice one.

[2019-05-06 12:15] zoenolan commented on #11
Marking this as closed, since it has been in done for a while now

[2019-05-06 12:15] #11 closed

[2019-05-06 12:15] zoenolan commented on #34
Marking this as closed, since it has been in done for a while now

[2019-05-06 12:15] #34 closed

[2019-05-06 12:15] zoenolan commented on #31
Marking this as closed, since it has been in done for a while now

[2019-05-06 12:15] #31 closed

[2019-05-06 12:16] zoenolan commented on #35
Marking this as closed, since it has been in done for a while now

[2019-05-06 12:16] #35 closed

[2019-05-06 12:16] zoenolan commented on #40
Marking this as closed, since it has been in done for a while now

[2019-05-06 12:16] #40 closed

[2019-05-21 19:31] zoenolan commented on #10
[Microsoft allow open source licenses](https://docs.microsoft.com/en-us/legal/windows/agreements/app-developer-agreement)

[2019-05-21 19:56] zoenolan commented on #10
Apple Store (iOS) is [incompatible with the GPL](http://adium.im/pipermail/devel_adium.im/2011-January/007973.html). The same seems to be the case for tvOS and the MacOS stores

[2019-05-21 20:05] zoenolan commented on #10
Google Play does [not seem to have any limitations on the license](https://en.wikipedia.org/wiki/List_of_free_and_open-source_Android_applications)

[2019-05-21 20:15] zoenolan commented on #10
Seems [Amazon is compatible with the GPL](https://opensource.stackexchange.com/questions/8292/do-amazon-appstore-terms-allow-for-gpl-software)

[2019-05-22 01:45] #10 closed

[2019-05-24 13:22] pgholsgrove opened #44 "Terms for v0.1"
- Understand legal implications and find basic solution for accepting payments in v0.1
- Protect the interests of artists and works they create

[2019-05-26 22:54] zoenolan commented on #44
[Take My Money! Accepting Payments on the Web](https://medium.com/table-xi/take-my-money-accepting-payments-on-the-web-d48719c1e3b4) ([Source Code](https://github.com/alexander-kh/take-my-money))

[2019-05-26 23:02] zoenolan commented on #44
[VAT MOSS](https://www.gov.uk/government/collections/vat-moss-vat-on-sales-of-digital-services-in-the-eu)

[2019-05-26 23:05] #8 closed

[2019-06-06 07:36] zoenolan opened #52 "A/B Testing framework"
As a developer, I would like to be able to experiment with different designs of the various flows and measure the effectiveness.

**Acceptance Criteria**
-  An A/B testing framework added
-  Metrics of each variant captured

[2019-06-09 08:39] zoenolan opened #57 "Add Security Policy"
As a developer, I would like to have a clear method of  reporting security issues.

**Acceptance Criteria**
- Add a [policy](https://github.com/axna/zien/security/policy)
- Add a security email alias

[2019-06-22 11:05] zoenolan opened #61 "Research Stripe Integration"
As a developer, I would like to take payments. Stripe provides one route to doing that.

**Questions to Answer**
- What are the fees?
- How do we add payment support from React?
- What information do we need to provide?
- What information do we get back about the payment?

[2019-06-23 08:10] zoenolan commented on #61
## What are the fees?

[20p then 1.4% (European cards) or 2.9% (non-European cards)](https://stripe.com/gb/pricing)

## Legal Requirements
- [PCI Standard](https://www.pcisecuritystandards.org/)
- [VAT MOSS](https://www.freeagent.com/glossary/vat-moss/) needs to accounted for
- [SCA](https://stripe.com/docs/strong-customer-authentication) from Sept 2019 in Europe

## What information do we need to

[2019-06-23 08:16] #37 closed

[2019-06-23 08:16] #61 closed

[2019-06-23 10:54] zoenolan commented on #61
HMRC has more on [VAT MOSS](https://www.gov.uk/guidance/register-and-use-the-vat-mini-one-stop-shop)

[2019-06-23 11:58] zoenolan commented on #21
Netlify has an [Identity services addon](https://www.netlify.com/docs/identity/) which is worth looking at, so we don't need to roll our own

[2019-06-23 11:59] zoenolan commented on #20
Duplicate of https://github.com/axna/zien/issues/21

[2019-06-23 11:59] #20 closed

[2019-06-23 12:27] #57 closed

[2019-06-23 14:20] zoenolan opened #67 "Clicking on the Provenance link returns you to the homepage"
**Describe the bug**
When I click on the Providence link. I expect to be shown some details about the edition.

**To Reproduce**
Steps to reproduce the behaviour:
1. https://app.zien.io/editions/ef-painful
2. Click on 'Provenance'

**Expected behaviour**
I'm shown details about that work.

[2019-06-29 10:07] zoenolan opened #70 "Research Suitable Tokens for the Scarce Editions"
As a developer, I need to represent Scarce Editions on the blockchain. I would like to understand the possible solutions.

**Questions to Answer**
- Is [ERC-721](http://erc721.org/) suitable?
- What other options exist?

[2019-07-08 21:43] zoenolan opened #72 "Support Multiple Scarces Editions"
As a user I would like to be able to see multiple scarce editions simultaneously.

**Acceptance Criteria**
- Scarce editions are parameterised
- Multiple Scarce edition can be displayed on the main screen
- Selecting an edition allows the user to paid for the correct edition

[2019-07-10 22:37] zoenolan commented on #70
**Our Use Case**
Scarce editions are unique pieces of art, available for a limited time. Once created. The works can be sold and traded, once purchased.

**Is [ERC-721](https://en.bitcoinwiki.org/wiki/ERC-721) suitable?**
[ERC-721](http://erc721.org/) is a token standard for creating non-fungible tokens.

The standard was [designed to represent](https://github.com/ethereum/EIPs/blob/master/EIPS/ei

[2019-07-10 22:37] #70 closed

[2019-07-13 09:28] #67 closed

[2019-07-13 10:23] rafaeljegundo commented on #12
@zoenolan I think this is important but hard for people to collaborate without extensive documentation, which I'm not sure if worth creating at MVP stage.

I'm thinking we perhaps could label this issues as "core-team" or assign them to ourselves. This would signal the separation between tasks which require high context and others which are more standard Open Source contributions that anyone can e

[2019-07-13 10:25] rafaeljegundo commented on #16
@pgholsgrove is this still part of the MVP? I believe not but not sure.

On my experience while github issues work well to track tasks to be tackled, it's useful for them to reference some single source of truth which provides the overall roadmap we are tackling. In this case I believe that would be the alpha, with the mockups and any other documentation for its spec.

[2019-07-13 10:26] rafaeljegundo commented on #17
@pgholsgrove will this be part of the alpha? Also I believe it would be good to switch "MVP" Milestone to alpha in order to reduce ambiguity of our targets

[2019-07-13 10:27] rafaeljegundo commented on #19
@pgholsgrove Figma link is returning 404. What's the state of this issue?

[2019-07-13 10:28] rafaeljegundo commented on #21
@pgholsgrove @zoenolan are we still going to require users to create an account for alpha? My understanding is we won't, but would be good to clarify here

[2019-07-13 10:29] rafaeljegundo commented on #22
@zoenolan @rehat101 how do you guys imagine the implementation strategy for this?

[2019-07-13 10:31] rafaeljegundo commented on #27
@pgholsgrove @zoenolan @rehat101 what are the actual steps involved in this process and how they connect to the different bits of our system?

[2019-07-13 10:32] rafaeljegundo commented on #28
@pgholsgrove can you elaborate on the intended behaviour? Do you mean sharing the opportunity to claim Scarce Editions in the broad sense, provide a link to show my friends what I claimed, or something else?

[2019-07-13 10:32] rafaeljegundo commented on #29
@pgholsgrove is this still part of alpha? How would it work

[2019-07-13 10:32] rafaeljegundo commented on #32
@pgholsgrove I believe this is done, do you confirm?

[2019-07-13 10:33] rafaeljegundo commented on #38
@MichaelHirn what's the status on this?

[2019-07-13 10:45] zoenolan commented on #21
The current agreement is not for the MVP/Alpha. So closing this issue for now. we can pick this up post Alpha

[2019-07-13 10:45] #21 closed

[2019-07-13 10:46] zoenolan commented on #17
Not part of the Alpha

[2019-07-13 10:46] #17 closed

[2019-07-13 10:46] zoenolan commented on #16
Not part of the Alpha

[2019-07-13 10:46] #16 closed

[2019-07-13 10:47] zoenolan commented on #29
Not part of the Alpha

[2019-07-13 10:47] #29 closed

[2019-07-13 10:47] zoenolan commented on #28
Not part of the Alpha

[2019-07-13 10:47] #28 closed

[2019-07-13 10:47] zoenolan commented on #23
Not part of the Alpha

[2019-07-13 10:47] #23 closed

[2019-07-13 10:48] zoenolan commented on #52
Not part of the Alpha

[2019-07-13 10:48] #52 closed

[2019-07-13 10:48] zoenolan commented on #12
@rafaeljegundo I agree. Totally think this is something we need to cover as part of the core-team. Not part of the Alpha

[2019-07-13 10:48] #12 closed

[2019-07-13 11:31] zoenolan commented on #30
#27 covers claiming an edition

[2019-07-14 09:19] MichaelHirn commented on #38
I think the alpha version doesn't require much backend, so this is issue is postponed for now.

[2019-07-14 11:17] zoenolan commented on #38
Ok, closing this for now then

[2019-07-14 11:17] #38 closed

[2019-07-14 12:20] pgholsgrove opened #82 "Style the claim form"
Style the form used to claim Scarce Editions.

[2019-07-14 12:20] pgholsgrove opened #83 "About page"
Add content to the about page (G doc).

[2019-07-14 12:22] pgholsgrove opened #84 "Visual consistency"
Tighten up overall design.

[2019-07-14 12:23] pgholsgrove opened #85 "Mobile layout"

[2019-07-14 12:24] pgholsgrove opened #86 "Provenance overlay"
Tighten up provenance overlay.

[2019-07-14 12:27] pgholsgrove commented on #27
@rafaeljegundo @zoenolan can we wrap Rafael's query into a task around the app architecture? (Discussed yesterday at CF#2). Separate task created to style the form: #82

[2019-07-14 12:28] pgholsgrove opened #87 "Artist onboarding"
Create and implement a process to onboard artists who are participating during the alpha phase of development.

[2019-07-14 12:28] pgholsgrove opened #88 "End user onboarding"
Create and implement a process to onboard end users who are participating during the alpha phase of development.

[2019-07-14 12:32] pgholsgrove opened #89 "Update website"
Update public website to coincide with alpha release.

[2019-07-15 21:28] zoenolan commented on #27
@rafaeljegundo I was thinking something like this. so the blockchain operations are asynchronous compared to the app and Airtable data. Any thoughts?

![Claim a Scarce Edition](https://user-images.githubusercontent.com/1663274/61250367-69c0aa80-a74f-11e9-8f1b-3694b3bbcff1.png)

[2019-07-15 21:51] zoenolan commented on #22
@rafaeljegundo Something like this

![Create a Scarce Edition](https://user-images.githubusercontent.com/1663274/61251607-de491880-a752-11e9-9af9-fee421f2e567.png)

So we can build the Airtable side without the blockchain first and have an end to end flow. Then add the blockchain code as either a script or automatic process

[2019-07-15 21:59] zoenolan commented on #22
To add a little more detail. Each scarce edition has a separate table listing each of the edition and the address that owns that edition.

We have another table that lists which scarce editions are active

[2019-07-17 05:46] zoenolan commented on #22
@pgholsgrove @rehat101 It would also be good to get your feedback on the design and #27

[2019-07-17 06:35] zoenolan commented on #72
Just some implementation notes.

- Look up of the list of active Scarce Editions table (Read only access)
- Iterate over that list
- Access each Scarce Edition table  (Read only access)
- Display the details for each Scarce Editio

[2019-07-17 07:02] zoenolan commented on #27
This is the only flow in the app that requires write access to the tables. to avoid exposing the Airtable API key we will need to use some sort of proxy.

[2019-07-17 16:09] pgholsgrove opened #90 "Confirmation view"
Present a confirmation view on completion of payment process.

[2019-07-17 21:03] zoenolan opened #91 "Data Model"
As a engineer, I need to understand how data is stored and processed inside the application

[2019-07-17 21:14] zoenolan commented on #27
Created a separate issue for the data model, https://github.com/axna/zien/issues/91

[2019-07-17 21:14] zoenolan commented on #22
Thinking more about what we need to store, https://github.com/axna/zien/issues/91

[2019-07-17 21:15] zoenolan commented on #91
Just quickly coming up with a list of the data for each entity

**Artists**
- ArtistID
- Name
- Biography
- Website
- Instagram
- Twitter

**Scarce Editions**
- EditionID
- Name
- Description
- Media
- Year
- ArtistID
- List of images
- Drop Periods
- Costs
- Deadline
- Number of editions

**EditionID**
- Edition number
- Claimed address
- Transfer transaction

[2019-07-18 07:10] zoenolan commented on #91
Artists and Scarce Editions are read only from the application. So could be represented as static data

[2019-07-21 14:30] pgholsgrove commented on #91
@zoenolan suggestions:

**Scarce Editions**
- _Type_ instead of media
- Measurements
- Image rights

**EditionID**
- License

[2019-07-21 23:47] zoenolan commented on #27
Can a single fan claim.multiple copies of a single edition?

[2019-07-25 08:40] pgholsgrove opened #95 "User testing"
Feedback with focus on the v0.1 mechanism.

[2019-07-28 16:05] #83 closed

[2019-07-28 16:18] #32 closed

[2019-07-29 20:53] #72 closed

[2019-07-30 07:25] zoenolan commented on #91
Added to the code by https://github.com/axna/zien/pull/96

[2019-07-30 07:25] #91 closed

[2019-07-30 22:54] zoenolan commented on #86
Do we actually need a provenance page for the MVP?

[2019-08-07 19:46] zoenolan commented on #30
How does https://github.com/axna/zien/issues/19 overlap with this? Do we need both?

[2019-08-07 19:47] zoenolan commented on #87
From today's call would you say this has been done now?

[2019-08-07 19:48] pgholsgrove commented on #19
Moved to Adobe XD.

[2019-08-07 19:48] #19 closed

[2019-08-07 20:44] pgholsgrove commented on #87
👍

[2019-08-07 20:44] #87 closed

[2019-08-07 20:51] #44 closed

[2019-08-07 20:51] pgholsgrove commented on #90
Added to #27

[2019-08-07 20:51] #90 closed

[2019-08-07 20:53] pgholsgrove commented on #86
Would be good to retain this. Closing this as a result of the updated UI relying on tabs not overlay.

[2019-08-07 20:53] #86 closed

[2019-08-07 21:00] pgholsgrove opened #103 "Auto generated emails"
- After registering for a drop
- After buying an edition
- When drop windows are due to open (x3)
- Upon a successful claim

[2019-08-07 21:53] zoenolan opened #104 "Managing Scare Editions on chain"
We need to store Scare Editions on chain. As [researched previously](https://github.com/axna/zien/issues/70), ERC-721 is the most commonly support non-fungible token standard.  Open zeppelin [provides an implementation](https://github.com/OpenZeppelin/openzeppelin-contracts/tree/master/contracts/token/ERC721).

We already have a [repo to contain the contract code](https://github.com/axna/scarce-ed

[2019-08-07 21:54] zoenolan commented on #103
Would [Mailchimp](https://mailchimp.com/) offer a solution?

[2019-08-07 22:54] zoenolan commented on #22
I think this is mostly covered in https://github.com/axna/zien/issues/104

I'm not sure if we want to combine that issue with this one?

[2019-08-08 05:57] pgholsgrove commented on #103
I think so. Integration is possible with Airtable: https://airtable.com/integrations/mailchimp

[2019-08-08 06:01] pgholsgrove commented on #27
No. A successful claim should be for one edition only.

[2019-08-08 06:08] pgholsgrove commented on #30
[User / tasks flows address the higher level 'user' and lower level 'tasks']

Closing this issue since we're addressing via #95

[2019-08-08 06:08] #30 closed

[2019-08-08 06:14] pgholsgrove commented on #103
@MichaelHirn would you be happy to research this?

[2019-08-08 07:56] MichaelHirn commented on #103
Would love to - I'm on it

[2019-08-08 13:51] pgholsgrove opened #105 "Drop notifications"
Consider implementing a manual process to send message notifications (SMS, WhatsApp) for the alpha (informed by user testing feedback).

[2019-08-10 08:00] pgholsgrove opened #108 "UI analysis"
Consider integrating https://www.fullstory.com

[2019-08-11 16:51] zoenolan commented on #27
I've got a (mostly) unstyled form working. I need to do a bit more testing but seems to be suitable for the MVP

[2019-08-11 18:54] zoenolan commented on #27
The on chain part are still left but are covered by https://github.com/axna/zien/issues/104, so closing this

[2019-08-11 18:54] #27 closed

[2019-08-11 18:58] zoenolan commented on #104
This is really a duplicate of https://github.com/axna/zien/issues/22, so closing this

[2019-08-11 18:58] #104 closed

[2019-08-11 19:00] zoenolan commented on #105
The two options I know about are:

- [Twillio](https://www.twilio.com/)
- [Nexmo ](https://www.nexmo.com/)

[2019-08-13 20:21] pgholsgrove opened #113 "Taking payments"
Arrange an account to take / divert payments.

[2019-08-17 09:05] #95 closed

[2019-08-17 09:07] pgholsgrove opened #116 "Register / buy now flows"
Customise Typeform to handle the register and buy now flows

[2019-08-17 10:12] #82 closed

[2019-08-17 10:14] pgholsgrove opened #118 "Claim page state diagram"
'State machine' of the process

[2019-08-17 10:14] pgholsgrove opened #119 "Registration diagram"
'State machine' of the process

[2019-08-17 10:17] pgholsgrove opened #120 "UI updates"

[2019-08-17 11:04] zoenolan commented on #118
![Claim page state machine](https://user-images.githubusercontent.com/1663274/63210511-24452380-c0e7-11e9-83d9-a0ba767c0804.png)

[2019-08-17 11:07] zoenolan opened #121 "Prototype of Claim page flow"
Based off [the state machine](https://github.com/axna/zien/issues/118), build the flow in Airtable

[2019-08-17 11:07] zoenolan commented on #118
The obvious follow on to this is [getting the flow working in Airtable](https://github.com/axna/zien/issues/121).

[2019-08-17 11:07] #118 closed

[2019-08-17 11:09] zoenolan commented on #119
![Registration State Diagram](https://user-images.githubusercontent.com/1663274/63210557-daa90880-c0e7-11e9-8b21-e60d72ec1f3f.png)

[2019-08-17 11:44] MichaelHirn commented on #103
### Update

Tested and validated Airtable integration for notifications with Slack, Twilio (SMS), and Mailgun (Email).

Requirements to finalize it for production
- [ ] Peter will upgrade Twilio account
- [ ] Peter will setup Mailgun account
- [ ] Airtable tables and fields are setup
- [ ] Michael/Peter will setup Slack channel for `DropClose` and `DropClaimed` notifications

Once that those are i

[2019-08-17 11:53] MichaelHirn commented on #105
Covered by #103

[2019-08-17 12:13] zoenolan commented on #118
Updated without exposing the drop time
![Claim page state machine (1)](https://user-images.githubusercontent.com/1663274/63211555-a423bb80-c0f0-11e9-8a4e-0bd97121f01b.png)

[2019-08-18 09:29] pgholsgrove opened #125 "Pre-drop holding page"
Create a view to handle post registration window state. State diagram: #118

[2019-08-18 09:30] pgholsgrove opened #126 "None left view"
Create a view to handle all editions claimed state. State diagram: #118

[2019-08-18 14:07] zoenolan commented on #121
Here is an end to end test of the Airtable code. No Typeform integration yet, as it made building a prototype simpler. Shared the link on slack,not here

[2019-08-18 16:02] pgholsgrove commented on #120
@rehat101 started a list here to iron out UI.

Universal

[ ] Discuss grid layout
[ ] Logo (Helvetica Neue, Medium 24px)
[ ] Menu (Helvetica Neue, Medium 14px)
[ ] Add Instagram / Twitter links to footer (Helvetica Neue, Medium 14px)

Fonts look off. Helvetica appears thicker? [Comparison](https://ica-bookstore.myshopify.com/collections/editions/products/michael-craig-martin-baseball-cap-2019).

E

[2019-08-18 16:07] zoenolan commented on #113
Isn't this done?

[2019-08-18 16:08] zoenolan commented on #120
How does this fit in with https://github.com/axna/zien/issues/84,  https://github.com/axna/zien/issues/85 and https://github.com/axna/zien/issues/116?

[2019-08-18 16:09] rehat101 commented on #120
I think we can consolidate all those issues with this one here.

[2019-08-18 16:09] pgholsgrove commented on #113
Waiting for confirmation on new account created with N26.

[2019-08-18 16:10] zoenolan commented on #113
Cool

[2019-08-18 16:10] #116 closed

[2019-08-18 16:11] #84 closed

[2019-08-18 16:12] rehat101 commented on #120
I'm not using px for font sizing. I'm using rem.

The base px is 14px so:
1rem = 14px,
2rem = 28px

If you can update the above with rems that'd be great!

[2019-08-18 16:15] pgholsgrove commented on #120
Left #85 open to handle separately (however this should resolve most issues).

[2019-08-18 16:45] MichaelHirn commented on #103
@pgholsgrove what Slack channel should we route the `DropClose` and `DropClaimed` notifications to? Product?

[2019-08-18 17:06] zoenolan commented on #103
https://github.com/axna/zien/issues/121 for the flags to select which email to choose

[2019-08-18 17:19] zoenolan commented on #121
One bit of a feedback, so far. Expose Unix timestamps

[2019-08-18 17:41] zoenolan commented on #121
only added the registration start and end time as Unix timstamps, so as not to expose the drop time

[2019-08-18 18:19] MichaelHirn commented on #121
## Data prerequisites for #103

### Tables

#### AllUsers

Table with all users who can register for a drop in the alpha

*Required Fields*: `Name`, `Email`

#### AllRegistrations

Table with all users who have registered for a drop

*Required Fields*: `Name`, `Email`, `NotificationType` (3 hours, 1 hours, 10 min, ...), `ScarceEdition` (the drop they registered for), `Time when `DropOpen` Notifica

[2019-08-19 08:09] rehat101 commented on #121
The following api shows all records:
`https://api.airtable.com/v0/appVDeCjTRiQR6xLq/Scarce%20Editions`

[code]

I need the following fields for the feed page.

1. thumbnail url
2. edition name
3. edition artist name
4. edition year
5. drop date

[2019-08-19 08:16] rehat101 commented on #121
below api shows a record:
`https://api.airtable.com/v0/appVDeCjTRiQR6xLq/Scarce%20Editions/rect7z3obgfQjgqTg`

I need fields that would match this page:
https://app.zien.io/editions/ff-painful

let me know if you want me to elaborate on the above.

[2019-08-19 13:17] pgholsgrove commented on #120
@rehat101

Using base 16px

0.875rem = 14px,
0.9375rem = 15px,
1rem = 16px,
1.5rem = 24px,
2rem = 32px

[2019-08-21 23:23] zoenolan commented on #121
@rehat101 I thought we agreed to keep those as hardcoded data in the app for the MVP? Anyway I've added a AllScarceEditions table

[2019-08-21 23:32] zoenolan commented on #121
@MichaelHirn For AllUsers, i ended up adding an EthereumAddress field. Same forAllClaims

[2019-08-21 23:33] zoenolan commented on #121
Take a look at the new version of the Airtable and see if it works for both of you

[2019-08-22 09:12] rehat101 commented on #120
I've checked off the items. Can you please go through and verify them? @pgholsgrove

[2019-08-25 15:27] MichaelHirn commented on #121
Thanks @zoenolan, looks good.

I made a few changes:

- Changed type of `AllClaims:ScarceEdition` from `Text` to `LinkedRecord`
- Added fields `ScarceEditionName`, `ScarceEditionArtistsName`, `ScarceEditionYear`, `ScarceEditionNumberOfEditions` to `AllClaims`
- Added field `PhoneNumber` to `AllUsers`

Can you confirm that we are storing the phone number for users? Is it required or optional?

[2019-08-25 15:34] zoenolan commented on #121
I thought the phone number was going to be required for now. We need them for notifications

[2019-08-25 15:35] MichaelHirn commented on #121
Exactly, ok that's good

[2019-08-26 05:40] pgholsgrove commented on #119
Can we close this issue?

[2019-08-26 05:43] pgholsgrove commented on #121
Outcomes from the first end-to-end test:

- [ ] Credentials are not yet submitted to Airtable after someone registers for the alpha
- [ ] Credentials are not yet submitted to Airtable after someone registers for a drop

[2019-08-26 05:45] pgholsgrove opened #133 "Typeform"
Updates to Typeform:

- [x] Collect phone number in Typeform during alpha registration (mandatory)
- [x] Remove phone number from drop registration flow
- [x] Create post drop registration screen in Typeform

[2019-08-26 05:48] pgholsgrove commented on #103
Outcome from first end-to-end test:

- [ ] Can we trigger time based notifications in Airtable (in addition to an incoming event)

[2019-08-26 13:14] zoenolan commented on #119
Yes. I think so

[2019-08-26 13:14] #119 closed

[2019-08-26 13:43] zoenolan commented on #121
Just thinking for the users,instead of having a user ID we could key them off the email address

[2019-08-26 13:44] zoenolan commented on #89
Do  we consider this done with the latest update?

[2019-08-27 07:31] MichaelHirn commented on #121
I think that is a great idea. Let's do that

On Mon, Aug 26, 2019 at 2:43 PM Zoe Nolan <notifications@github.com> wrote:

[2019-08-27 21:09] zoenolan commented on #121
Made the changes

[2019-08-27 21:12] zoenolan commented on #133
Moved these from #121. These are writes to the Airtable not reads

- [ ] Credentials are not yet submitted to Airtable after someone registers for the alpha
- [ ] Credentials are not yet submitted to Airtable after someone registers for a drop

[2019-08-30 10:43] #113 closed

[2019-08-30 10:44] #105 closed

[2019-08-30 10:44] #89 closed

[2019-08-30 10:44] pgholsgrove commented on #88
Complete

[2019-08-30 10:44] #88 closed

[2019-08-30 13:44] pgholsgrove commented on #125
Complete

[2019-08-30 13:44] #125 closed

[2019-08-30 19:10] pgholsgrove opened #141 "Buy now flow"
Enable payment / flow for the buy now option

[2019-08-30 19:21] #126 closed

[2019-08-30 20:15] #121 closed

[2019-08-31 08:06] pgholsgrove commented on #120
**New views**

- [ ] 'Dropping soon' state view
- [ ] 'Claim an edition' state view
- [ ] 'All gone' state view

[2019-08-31 08:52] zoenolan commented on #133
Just tested the integration with Airtable for signups, moving on to the drop registration

[2019-08-31 09:31] zoenolan commented on #133
Data added from drop registration

[2019-08-31 09:40] zoenolan commented on #133
Ended adding a hidden field with the edition ID

[2019-08-31 09:40] #133 closed

[2019-08-31 09:44] zoenolan commented on #103
Just to add once the Typeform to Airtable integration was put in place. I got the emails but they took up to 10 minutes to arrive

[2019-08-31 09:52] MichaelHirn commented on #103
:/ that’s not optimal. We can bring it down to sub-5 minutes, but then we
have to upgrade to Professional (50$/m). Rn we are on Starters (20$/m)

On Sat, Aug 31, 2019 at 10:44 Zoe Nolan <notifications@github.com> wrote:

[2019-08-31 10:02] zoenolan commented on #103
I also noticed the signup email comes from alpha@zien.io but the registration one comes from alpha@mg.zien.io

[2019-08-31 10:18] MichaelHirn commented on #103
Thanks will align them

On Sat, Aug 31, 2019 at 11:02 Zoe Nolan <notifications@github.com> wrote:

[2019-08-31 10:35] zoenolan commented on #103
On the time lag. I think what we have currently is fine for testing but maybe worth moving to Professional during the alpha

[2019-09-04 14:38] pgholsgrove commented on #103
@MichaelHirn which service should we upgrade to resolve this?

[2019-09-04 15:56] MichaelHirn commented on #103
Zapier

On Wed, Sep 4, 2019 at 15:38 Peter Holsgrove <notifications@github.com>
wrote:

[2019-09-04 22:22] zoenolan commented on #103
I tried a bunch of stuff inside airtable to get the user and scarce edition data to populate. It looks like it is something we can do with zapier

https://www.reddit.com/r/Airtable/comments/cymgf8/automatically_link_records/eytwdbx/

I don't have access to zapier, so I can't test it now but my suggestion would be to use the email field as the key to set the data from user table and the scarce edit

[2019-09-05 07:23] MichaelHirn commented on #103
Ok, thanks for the update. I would take care of it, but I have a hard
deadline on Friday and my diary is running over. So I will send you the
credentials on Slack and can take a look on the weekend.

On Wed, Sep 4, 2019 at 23:22 Zoe Nolan <notifications@github.com> wrote:

[2019-09-05 09:44] zoenolan commented on #103
Really not a problem. I think we have all been there. Happy to take a look at this. Hopefully I'll have some good news this evening

[2019-09-05 16:11] pgholsgrove commented on #120
@rehat101

Capturing here remaining items:

- [ ] Grid layout
- [ ] Typeform customisation (upgraded to Premium)
- [ ] Mobile layout

Perhaps a call this week to run over?

[2019-09-05 23:34] zoenolan commented on #103
Success!
Using Zapier worked. I've only updated Registration Confirmation so far but I'll do the rest tomorrow (or actually later today).

This method has the side effect of making the Airtables simpler

What I did was, after the trigger do two lookups, in the Users and Scarce Edition tables, then use those values to fill out the email

[2019-09-06 08:28] MichaelHirn commented on #103
Amazing! Thanks for fixing this. Will follow and put the last notifications
in place on the weekend then.

On Fri, Sep 6, 2019 at 00:34 Zoe Nolan <notifications@github.com> wrote:

[2019-09-06 13:49] zoenolan commented on #103
Cool. shout if anything is unclear

[2019-09-09 21:41] zoenolan commented on #22
Basically we only need to [ERC721 Mintable](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC721/ERC721Mintable.sol)

[2019-09-09 22:57] zoenolan commented on #22
and added a very basic implementation: https://github.com/axna/scarce-editions/pull/1

[2019-09-13 06:54] #141 closed

[2019-09-16 10:14] #120 closed

[2019-09-16 10:23] pgholsgrove opened #162 "Dropping soon state change"
The 'Dropping soon' state change in the UI isn't triggering from Airtable correctly.

**Anticipated fix**
Update to the `RegistrationClosed` function in the `AllScarceEditions` table based on input in the `RegistrationClose` input.

[2019-09-16 10:30] pgholsgrove opened #163 "Claim form integration"
Integrate the claim Typeform and Airtable.

[2019-09-16 10:31] pgholsgrove opened #164 "Buy now form integration"
Integrate the Buy now Typeform and Airtable.

[2019-09-16 10:32] pgholsgrove opened #165 "Notification updates"
- [x] Ensure all SMS messages arrive from 'ZIEN' (ZIENPilot and ZIENAlpha noticed on the 1 hour and 10 minute drop period notifications)
- [x] Ensure the 10 minute drop period isn't referenced as 15 minutes
- [x] Design 2 pre-drop notifications (48 hours / 12 hours)
- [x] Programme 2 pre-drop notifications (48 hours / 12 hours)

[2019-09-17 03:18] zoenolan commented on #163
The claim Typeform is now output the results to Airtable. Worth someone else testing this before we close this

[2019-09-17 03:19] zoenolan commented on #164
Like #163 this should be working now but we should have someone else besides me (or the users) test it before closing the issue

[2019-09-20 10:41] zoenolan commented on #162
So  I was playing around with this. The code is very simple basically Is the end date time before or after now. The documentation talks about a lag for the field updating but I don't want to mess with things in the middle of a drop

[2019-09-20 10:41] zoenolan commented on #163
Waiting for any feedback from the current drop before closing this

[2019-09-20 10:41] zoenolan commented on #164
Waiting for any feedback from the current drop before closing this

[2019-10-01 08:25] #164 closed

[2019-10-01 08:25] #163 closed

[2019-10-01 08:25] #22 closed

[2019-10-04 20:54] zoenolan commented on #165
I guess we can close this now?

[2019-11-01 07:24] zoenolan commented on #162
CLosing this, as we are moving off airtable

[2019-11-01 07:24] #162 closed

[2019-11-15 20:15] #165 closed